mixin cart-line(line)
  li.cart-line
    a(href='####')
      img.cart-line__image(src=line.duck.image)
    .cart-line__info
      p.cart-line__title #{line.duck.title}
      form.cart-line__quantity(method='POST' action='/cart')
        span.cart-line__price #{line.duck.price}
        div
          button.cart-line__btn(name="reduceFromCart" value=line.duck.id)
            i.fas.fa-minus
          span  x #{line.quantity}
          button.cart-line__btn(name="addToCart" value=line.duck.id)
            i.fas.fa-plus
          button.cart-line__btn(name="removeFromCart" value=line.duck.id)
            i.fas.fa-trash-alt