mixin results(items)

    if items.length > 0
        ul.list-items
            each item in items
                li.item  
                    a(href=`${item.url}`)
                        h3.item__title= item.title
                    form(method='post' action=item.urlToggle)
                        button.fav
                            i(class=item.isFav? 'fas fa-heart' : 'far fa-heart')
                    img.item__image(src=`${item.image}`)
                    span.item__price= item.price
    else
        p.no-result= 'No results'