mixin favorites(favoritesList)

    if favoritesList.length > 0
        ul.list-items
            each fav in favoritesList
                li.item
                    a(href=`${fav.url}`)
                        h3.item__title= fav.title
                    a.fav(href=`${fav.urlToggle}`)  
                        i.fas.fa-heart
                    img.item__image(src=`${fav.image}`)
                    span.item__price= fav.price                    
    else
        p.no-result= 'No favorites'