
extends ../index

include ../feedback/index

block content
    h2 Register
    form(method='post' action='/login')
        input(type='text' name='name' placeholder='name' autofocus='' required='' value=name)
        input(type='text' name='surname' placeholder='surname' autofocus='' required='' value=surname)
        input(type='text' name='email' placeholder='email' autofocus='' required='' value=email)
        input(type='password' name='password' placeholder='password' required='')
        if message
            +feedback(message)
        button Register



        
<!-- <h2>Register</h2>
<form method="post" action="/register">
    <input type="text" name="name" required placeholder="name" autofocus value="${name}">
    <input type="text" name="surname" required placeholder="surname" value="${surname}">
    <input type="email" name="email" required placeholder="e-mail" value="${email}">
    <input type="password" name="password" required placeholder="password">
    <feedback />
    <button>Register</button>
</form> -->