mixin detail(item)
    h2= item.title
    a(href=`${item.urlToggle}`)  
        if item.isFav
            i.fas.fa-heart
        else    
            i.far.fa-heart
    img(src=`${item.image}`)
    p= item.description
    span= item.price