mixin detail({ id, title, image, description, price, urlFav, urlCart }, favs)
    - const isFav = favs.some(fav => fav.id === id)
    h2 #{title}
    img(src=image, alt="duck image")
    p #{description}
    span #{price}
    form(method='post' action=urlFav)
        input(type='hidden' name='handleFavs' value='duck')
        button 
            i(class=isFav ? "fas fa-heart" : "far fa-heart")
    form(method='post' action=urlCart)       
        input(type='hidden' name='handleCart' value='duck')
        button
            i(class='fas fa-cart-plus')
    