extends ../home/index

block trackResults
          section
            .columns.is-multiline.is-mobile.is-centered
                .column.is-three-quarters-mobile.is-three-quarters-tablet.is-one-fifth-desktop.has-text-centered
                    .block
                        img(src=`${album.images.length > 0 ? `${album.images[0].url}`: 'https://yt3.ggpht.com/a-/AAuE7mDajKsKk93LF27roj83w1ixbeMNG_Wk_EjZoA=s900-mo-c-c0xffffffff-rj-k-no'}`, alt=`${album.name}`)                        
                        h2.title= album.name
                .column.is-three-quarters-mobile.is-three-quarters-tablet.is-four-fifth-desktop
                    .block
                        nav.panel
                            each track in tracks
                                a.panel-block(href=`/home/track/${track.id}`)
                                    span.panel-icon
                                        i.fab.fa-itunes-note(aria-hidden='true')
                                    span=track.name