mixin duck-detail(duck)
  section.duck-detail
    .duck-detail__title-container
      a(href="/home/search?query=" + query)
        i.fas.fa-arrow-left.duck-detail__back
      h3.duck-detail__title #{duck.title}
    form(method="POST")
      button.favorite(name="toggleFav" value=duck.id)
        if duck.isFav
          i.fa-heart.fas.favorite---on
        else
          i.fa-heart.far.favorite---off
    img.duck-detail__image(src=duck.image)
    div
      span.duck-detail__price #{duck.price}
    p.duck-detail__description #{duck.description}
