extends ../layout
include ../search/index


block content
  +search()
  div.row
    each album in albums
      div.col-md-4
        if album.images[0]
          img(src=album.images[0].url, class="imagenes")
          a(href=`/album/${album.id}`) #{album.name}
        
        if !album.images[0]
          img(src=album.images[0] alt='404 ')
          a(href=`/album/${album.id}`) #{album.name}