mixin results(list, favs)
    ul
        each item in list
            - const isFav = favs.some(fav => fav.id === item.id)
            li
                a(href=item.url)
                    h2 #{item.title}
                    img(src=item.image, alt='duck image')
                    span #{item.price}
                form(method='post' action=item.urlFav)
                    input(type='hidden' name='handleFavs' value='ducks')
                    button 
                        i(class=isFav ? "fas fa-heart" : "far fa-heart")
                //- form(method='post' action=item.urlCart)
                form(method='post' action='/home/cart/'+item.id)
                    input(type='hidden' name='handleCart' value='ducks')
                    button
                        i(class='fas fa-cart-plus')